<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IntegrationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
   <connectionStrings>
    <add name="northwind_guid_clientContext" connectionString="Data Source=KINGDEVLAP36\MSSQLSERVER12;Initial Catalog=northwind_guid_client;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
   <add name="northwindContext" connectionString="Data Source=KINGDEVLAP36\MSSQLSERVER12;Initial Catalog=northwind_guid;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!--4-verbose.-->
      <add name="SyncTracer" value="2" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="TestListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\MySyncTrace.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
 
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISyncService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISyncService1">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISyncService2">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58188/SyncService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISyncService" contract="MicrosoftSyncPoC.Infrastructure.ISyncService"
        name="WSHttpBinding_ISyncService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58188/SyncService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISyncService1" contract="MicrosoftSyncPoC.Infrastructure.ISyncService"
        name="WSHttpBinding_ISyncService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58188/SyncService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISyncService2" contract="NorthwindSyncService.ISyncService"
        name="WSHttpBinding_ISyncService2">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
 
  <applicationSettings>
    <IntegrationTest.Properties.Settings>
      <setting name="ServiceUrl" serializeAs="String">
        <value>http://localhost:58188/SyncService.svc</value>
      </setting>
      <setting name="DbConnection" serializeAs="String">
        <value>Data Source=KINGDEVLAP36\MSSQLSERVER12;Initial Catalog=northwind_guid;Integrated Security=True;MultipleActiveResultSets=True</value>
      </setting>
      <setting name="northwind_guid_clientContext" serializeAs="String">
        <value>Data Source=KINGDEVLAP36\MSSQLSERVER12;Initial Catalog=northwind_guid_client;Integrated Security=True;MultipleActiveResultSets=True</value>
      </setting>
      <setting name="northwindContext" serializeAs="String">
        <value>Data Source=KINGDEVLAP36\MSSQLSERVER12;Initial Catalog=northwind_guid;Integrated Security=True;MultipleActiveResultSets=True</value>
      </setting>
    </IntegrationTest.Properties.Settings>
  </applicationSettings>
</configuration>