<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SyncConfiguration" type="Microsoft.Synchronization.ClientServices.Configuration.SyncConfigurationSection, SyncSvcUtil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <SyncConfiguration>
        <SyncScopes>
            <SyncScope Name="NorthwindServerSyncScope" SchemaName="dbo" IsTemplateScope="false"
                EnableBulkApplyProcedures="true">
                <SyncTables>
                    <SyncTable Name="[Region]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="RegionID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="RegionDescription" GlobalName="" SqlType="nchar"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Territories]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="TerritoryID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="TerritoryDescription" GlobalName="" SqlType="nchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="RegionID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Categories]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="CategoryID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CategoryName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Description" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Picture" GlobalName="" SqlType="varbinary"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Customers]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="CustomerID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CompanyName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ContactName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ContactTitle" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Address" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="City" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Region" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="PostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Country" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Phone" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Fax" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Shippers]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ShipperID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CompanyName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Phone" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Suppliers]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SupplierID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CompanyName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ContactName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ContactTitle" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Address" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="City" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Region" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="PostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Country" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Phone" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Fax" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="HomePage" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Contacts]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ContactID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="ContactType" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="CompanyName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ContactName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ContactTitle" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Address" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="City" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Region" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="PostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Country" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Phone" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Extension" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Fax" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="HomePage" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="PhotoPath" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Photo" GlobalName="" SqlType="varbinary" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Employees]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="EmployeeID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="LastName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="FirstName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Title" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="TitleOfCourtesy" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="BirthDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="HireDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Address" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="City" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Region" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="PostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Country" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="HomePhone" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Extension" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Photo" GlobalName="" SqlType="varbinary" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="Notes" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="ReportsTo" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="PhotoPath" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[EmployeeTerritories]" GlobalName="" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="EmployeeID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="TerritoryID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Products]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ProductID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="ProductName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SupplierID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="CategoryID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="QuantityPerUnit" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="UnitPrice" GlobalName="" SqlType="decimal"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="UnitsInStock" GlobalName="" SqlType="smallint"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="UnitsOnOrder" GlobalName="" SqlType="smallint"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ReorderLevel" GlobalName="" SqlType="smallint"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Discontinued" GlobalName="" SqlType="bit" IsPrimaryKey="false"
                                IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Invoices]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="InvoiceID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CustomerID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Salesperson" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="OrderID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="ShipperID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="ProductID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="ShipAddress" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipCity" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipRegion" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipPostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipCountry" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="CustomerName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Address" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="City" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="RegionID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="PostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Country" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="OrderDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="RequiredDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShippedDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipperName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ProductName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="UnitPrice" GlobalName="" SqlType="decimal"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Quantity" GlobalName="" SqlType="smallint"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Discount" GlobalName="" SqlType="real" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="ExtendedPrice" GlobalName="" SqlType="decimal"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Freight" GlobalName="" SqlType="decimal" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Orders]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="OrderID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="CustomerID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="EmployeeID" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="OrderDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="RequiredDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShippedDate" GlobalName="" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipVia" GlobalName="" SqlType="uniqueidentifier"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Freight" GlobalName="" SqlType="decimal" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="ShipName" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipAddress" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipCity" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipRegion" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipPostalCode" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ShipCountry" GlobalName="" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                </SyncTables>
            </SyncScope>
        </SyncScopes>
        <Databases>
            <TargetDatabase Name="NorthwindSyncServerConfig" DbServer="KINGDEVLAP36\MSSQLSERVER12"
                DbName="northwind_guid" UserName="" Password="" UseIntegratedAuth="true" />
        </Databases>
    </SyncConfiguration>
</configuration>